target/
/npm
/node_modules
/napi/node_modules
/fixtures/pnpm/node_modules
/fixtures/yarn/node_modules
/fixtures/tsconfck/node_modules
/fixtures/bench-pm/*/node_modules
/fixtures/bench-pm/*/.pnp.*
/fixtures/bench-pm/*/.yarn/cache
/fixtures/bench-pm/*/.yarn/install-state.gz
/fixtures/bench-pm/*/.yarn/unplugged
/fixtures/bench-pm/*/apps/*/node_modules
/fixtures/bench-pm/*/apps/*/nested/*/node_modules
/fixtures/bench-pm/*/apps/*/nested/*/*/node_modules
/fixtures/bench-pm/*/packages/*/node_modules
fuzz/Cargo.lock
