[workspace]
members  = ["napi"]
resolver = "2"

[package]
version      = "1.8.1"
name         = "oxc_resolver"
authors      = ["Boshen <boshenc@gmail.com>"]
categories   = ["development-tools"]
description  = "ESM / CJS module resolution"
edition      = "2021"
homepage     = "https://github.com/oxc-project/oxc-resolver"
keywords     = ["node", "resolve", "cjs", "esm", "enhanced-resolve"]
license      = "MIT"
readme       = "README.md"
repository   = "https://github.com/oxc-project/oxc-resolver"
rust-version = "1.70"
include      = ["/src", "/examples", "/benches"]

[lib]
doctest = false

[[bench]]
name    = "resolver"
harness = false

[lints.clippy]
all   = { level = "warn", priority = -1 }
cargo = { level = "warn", priority = -1 }
# restriction
dbg_macro     = "warn"
todo          = "warn"
unimplemented = "warn"
# I like the explicitness of this rule as it removes confusion around `clone`.
# This increases readability, avoids `clone` mindlessly and heap allocating on accident.
clone_on_ref_ptr = "warn"
# These two are mutually exclusive, I like `mod.rs` files for better fuzzy searches on module entries.
self_named_module_files         = "warn" # "-Wclippy::mod_module_files"
empty_drop                      = "warn"
empty_structs_with_brackets     = "warn"
exit                            = "warn"
filetype_is_file                = "warn"
get_unwrap                      = "warn"
impl_trait_in_params            = "warn"
rc_buffer                       = "warn"
rc_mutex                        = "warn"
rest_pat_in_fully_bound_structs = "warn"
unnecessary_safety_comment      = "warn"
undocumented_unsafe_blocks      = "warn"
# I want to write the best Rust code so both pedantic and nursery is enabled.
# We should only disable rules globally if they are either false positives, chaotic, or does not make sense.
nursery  = { level = "warn", priority = -1 }
pedantic = { level = "warn", priority = -1 }
# Allowed rules
# pedantic
# This rule is too pedantic, I don't want to force this because naming things are hard.
module_name_repetitions = "allow"
# All triggers are mostly ignored in our codebase, so this is ignored globally.
struct_excessive_bools = "allow"
too_many_lines         = "allow"
# #[must_use] is creating too much noise for this codebase, it does not add much value except nagging
# the programmer to add a #[must_use] after clippy has been run.
# Having #[must_use] every where also hinders readability.
must_use_candidate = "allow"
# used_underscore_binding= "allow"
doc_markdown = "allow"
# nursery
# `const` functions do not make sense for our project because this is not a `const` library.
# This rule also confuses new comers and forces them to add `const` blindlessly without any reason.
missing_const_for_fn = "allow"

[[example]]
name = "resolver"

[dependencies]
tracing = { version = "0.1" }
dashmap = { version = "5.5.3" }
serde = { version = "1.0.199", features = ["derive"] } # derive for Deserialize from package.json
serde_json = { version = "1.0.116", features = [
  "preserve_order",
] } # preserve_order: package_json.exports requires order such as `["require", "import", "default"]`
rustc-hash = { version = "1.1.0", default-features = false, features = ["std"] }
dunce = "1.0.4" # Normalize Windows paths to the most compatible format, avoiding UNC where possible
once_cell = "1.19.0" # Use `std::sync::OnceLock::get_or_try_init` when it is stable.
thiserror = { version = "1.0.59" }
json-strip-comments = { version = "1.0.2" }
typescript_tsconfig_json = { version = "0.1.4" }

document-features = { version = "0.2", optional = true }

[dev-dependencies]
vfs            = "0.12.0"                                                                # for testing with in memory file system
rayon          = { version = "1.10.0" }
criterion      = { package = "criterion2", version = "0.8.0", default-features = false }
normalize-path = { version = "0.2.1" }

[features]
default = []
# For codspeed benchmark
codspeed = ["criterion/codspeed"]
## Enables the [PackageJson::raw_json] API,
## which returns the `package.json` with `serde_json::Value`.
package_json_raw_json_api = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
