name: Release Plz

permissions: {}

on:
  workflow_dispatch:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  release-plz:
    name: Release-plz
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      id-token: write
    steps:
      - uses: oxc-project/release-plz@e2b12f55ad64a22af8e93634b94439c42913afca # v1.0.6
        id: release-plz
        with:
          PAT: ${{ secrets.OXC_BOT_PAT }}

      - uses: oxc-project/setup-rust@704e1648ce532a12b4d6fb98db0ba10afa3ae879 # v1.0.13
        with:
          cache-key: warm

      - uses: ./.github/actions/pnpm

      - name: Bump package.json
        if: ${{ steps.release-plz.outputs.prs_created }}
        env:
          GH_TOKEN: ${{ secrets.OXC_BOT_PAT }}
          PR_NUMBER: ${{ fromJSON(steps.release-plz.outputs.pr).number }}
          VERSION: ${{ fromJSON(steps.release-plz.outputs.pr).releases[0].version }}
        run: |
          set -e

          pr_number="${PR_NUMBER}"

          if [[ -n "$pr_number" ]]; then
            version="${VERSION}"

            jq --arg version "${version}" '.version = ($version)' package.json > tmp
            mv tmp package.json
            pnpm build

            gh pr checkout $pr_number
            git add .
            git commit --amend --no-edit
            git push --force-with-lease
          fi
